XML/userDetails.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="userdetails_type">
        <xs:sequence>        
            <xs:element name="emailaddress" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="userdetailslist" type="userdetailslist_type"/>
</xs:schema>